body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  background-image: url("https://www.pexels.com/photo/129731/download/?search_query=&tracking_id=3o5idwg13h7");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
h1 {
  font-family: "Open Sans-Black", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}
.container-fluid {
  padding: 7% 15%;
  margin: 0px;
}
/* headings */
.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

#title {
  padding-top: 7%;
}
#title .container-fluid {
  text-align: left;
  padding: 3% 15% 7%;
}
/* sections*/
.white-section {
  background-color: white;
}
.colored-section {
  background-color: ;
}
.btno {
  margin: 2px;
}
/* Nav bar */
.navbar {
  margin-bottom: 4.5rem;
}
.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
}
.nav-item {
  padding: 0px 18px;
}
.nav-link {
  font-size: 1.5rem;
  font-family: "Open Sans-Light";
}
.new {
  background-color: red;
  margin: 20px;
  height: 200px;
  width: 200px;
}
/* features section */
.feature-heading {
  font-size: 1.5rem;
  font-weight: 600;
}
.fb {
  padding: 4.5%;
}
.icon {
  color: steelblue;
  margin-bottom: 16px;
}
.icon:hover {
  color: powderblue;
}
.pa {
  color: #8f8f8f;
}
/*
/* footer */
#footer {
  color: #8f8f8f;
}

.ficon {
  margin: 20px 10px;
}

#mail {
  color: #d44638;
}
/* profile*/
@media (max-width: 1028px) {
  #profile {
    padding-top: 7%;
  }
}
.image {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}
#footer .container-fluid {
  padding: 3% 15%;
}

.hodinfo {
  color: white;
  font-size: 1.5rem;
}
